---
import DateFilterList from '../components/DateFilterList.astro'
import NotesTypeFilter from '../components/NotesTypeFilter'
import Layout from '../layouts/Layout.astro'
import NoteList from '../components/NoteList'
import SearchBar from '../components/SearchBar'
---

<Layout title='RT Notes'>
	<main class='p-4 flex flex-col gap-8'>
		<header class='w-full flex gap-4 items-center justify-between'>
			<h1 class='text-2xl font-bold'>RT Notes</h1>
			<SearchBar client:load />
		</header>
		<section>
			<DateFilterList />
		</section>
		<section>
			<NotesTypeFilter client:load />
		</section>
		<section>
			<NoteList client:load />
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: min(1280px, 100%);
	}
</style>
