---
import { generateDates, generateMoreDates } from '../utils/calendarDates'

const dates = generateDates()
---

<ul
  class='flex sm:gap-4 gap-2 justify-between overflow-x-auto hide-scrollbar p-1 sm:py-4 py-6'
  data-target='date-filter-list'
>
  {
    dates.map(({ day, date, month, active }) => (
      <li>
        <article
          data-active={active}
          class='border border-gray-200 flex flex-col sm:flex-row items-center gap-2 p-3 rounded-3xl shadow transition-all select-none hover:shadow-lg hover:bg-black/5 data-[active=true]:bg-blue-700 data-[active=true]:text-white data-[active=true]:hover:bg-blue-800'
        >
          <span class='text-sm'>{day}</span>
          <span class='font-bold text-5xl'>{date}</span>
          <span class='text-sm'>{month}</span>
        </article>
      </li>
    ))
  }
</ul>

<script>
  import { enableHorizontalScroll } from '../utils/horizontalScroll'

  const dateFilterList = document.querySelector(
    '[data-target="date-filter-list"]',
  )! as HTMLUListElement

  enableHorizontalScroll(dateFilterList)
</script>
